{% extends 'base.html.twig' %}

{% block title %}Se Connecter - TheGoodPlan{% endblock %}

{% block content %}
<main class="cadre">
    <h1>Se Connecter</h1>
    <p>Nouveau sur le site ? <a href="inscription.php" class="blue-link">S’inscrire</a></p>
    
    <form method="POST" action="connexion.php">
        <label for="email">E-mail *</label>
        <input type="email" id="email" name="email" placeholder="E-mail" required>

        <label for="password">Mot de passe *</label>
        <input type="password" id="password" name="password" required>

        <a href="mot-de-passe-oublie.php" class="blue-link">Mot de passe oublié ?</a>

        <button type="submit">Se connecter</button>
    </form>
</main>
{% endblock %}
