{% extends "base.twig" %}

<title>{% block title %}TheGoodPlan - Détails de l'offre{% endblock %}</title>

{% block content %}
    <main class="details-offre">
        <section class="contenu">
            <div>
                <h2>Détails de l’offre</h2>
                <h1>Stage en Data Analyse</h1>
                <div class="infos-offre">
                    <img src="/static/airbusIcon.png" alt="Logo Airbus">
                    <div>
                        <h3><b>Airbus</b></h3>
                        <p>Grande entreprise • 134 k employés • Aéronautique / Spatial</p>
                    </div>
                </div>
                <h4 class="inter-medium">Date de début : Janvier 2025</h4>
            </div>
            <div class="tags horizontal">
                <span class="localisation fond-bleu">
                    <img src="/static/locIcon.png" width="24px" alt="Location">Paris
                </span>
                <span class="duree fond-bleu">
                    <img src="/static/timeIcon.png" width="24px" alt="Duration">6 mois
                </span>
                <span class="exp fond-bleu">
                    <img src="/static/educationIcon.png" width="24px" alt="Education">Bac +2
                </span>
            </div>
        </section>
        <article class="details">
            <p>
                En tant que stagiaire Data Analyst chez Airbus, vous serez responsable de la collecte, de l'analyse et de l'interprétation des données pour aider à prendre des décisions stratégiques. Vous travaillerez en étroite collaboration avec les équipes de marketing, de finance et d'ingénierie pour identifier les tendances et les opportunités d'amélioration. Vos missions incluront la création de rapports, la visualisation de données et la présentation de vos conclusions aux parties prenantes. Ce stage est une excellente opportunité pour développer vos compétences en analyse de données et pour acquérir une expérience précieuse dans un environnement dynamique et innovant.
            </p>
            <h5 class="inter-light sub">Publiée le 1 Janvier 2025</h5>
        </article>
    </main>
{% endblock %}