<header>
  <h1 class="inter-black titre">TheGoodPlan</h1>
  <nav>
      <a class="inter-black navlink" href="/index.php">Accueil</a>
      <a class="inter-medium navlink" href="/templates/parcourir.php">Nos Offres</a>
      <a class="inter-medium navlink" href="/templates/creation-offre.php">Créer une offre</a>
  </nav>
  <a href="/templates/connexion.php">
      <img class="accountIcon" src="/static/accountIcon.png" width="48" />
  </a>
</header>
