{% extends "base.twig" %}

{% block title %}
    Parcourir
{% endblock %}

{% block content %}
    <section class="aide">
        <div>
            Bonjour
            <p>Comment pouvons-nous vous aider ?</p>
            <input type="text" name="keywords">
        </div>
    </section>
    <main class="grille">
        <article class="support">
            <h2>Général</h2>
        </article>
        <article class="support">
            <h2>Candidats</h2>
        </article>
        <article class="support">
            <h2>Recruteurs</h2>
        </article>
    </main>
{% endblock %}
