* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    line-height: 1.6;
}

header {
    background-color: #0056B8;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 156px;
}

header .logo{
    flex: 1;
    text-align: left;
    margin-left: 33px;
}

header .logo img{
    width: 250px;
    height: auto;
}

header .profil{
    flex: 1;
    text-align: right;
    margin-right: 33px;
}

header .profil img{
    width: 65px;
    height: auto;
}

.nav {
    width: 668px;
    height: 72px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid white;
    border-radius: 56px;
    color: #000;
}

.nav a {
    font-weight: normal;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
    color: #000;
}

.nav a#active {
    font-weight: black;
}

main {
    margin: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

h1 {
    text-align: center;
    width: 590px;
    height: 50px;
    border: 2px solid white;
    border-radius: 56px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.ml {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profils {
    display: flex;
    gap: 5%;
}

.offres {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 20px;
    right: 5%;
}

.offres h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 590px;
    height: 50px;
    border: 2px solid white;
    border-radius: 56px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.onglets {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

section {
    border: 2px solid white;
    border-radius: 56px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-wrap: break-word;
    white-space: normal;
}

#profil {
    display: flex;
    gap: 2%;
}

footer {
    background-color: #0056B8;
    color: azure;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 60px;
    width: 100%;
    height: 93px;
    bottom: 0;
}

#pr {
    bottom: auto;
}