<!DOCTYPE html>

<head>
  <title>Parcourir</title>
  <link rel="stylesheet" href="/static/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <header>
    <h1 class="inter-black titre">TheGoodPlan</h1>
    <nav>
      <a class="inter-black navlink" href="/index.php">Accueil</a>
      <a class="inter-medium navlink" href="/templates/parcourir.php"
        >Nos Offres</a
      >
      <a class="inter-medium navlink" href="/templates/creation-offre.php"
        >Créer une offre</a
      >
    </nav>
    <a href="/templates/connexion.php"
      ><img class="accountIcon" src="/static/accountIcon.png" width="48"
    /></a>
  </header>
</body>
